.header{
    display: flex;
    justify-content: space-between;
    background-color: brown;
}
.logo{
    display: flex;
}
#logoimg{
    position: relative;
    width: 70px;
    height: 50px;
    left: 54px;
    top: 48px;
}
.logo_title{
    position: absolute;
    color: white;
    width: 130px;
    height: 48px;
    left: 99px;
    top: 53px;
}
spane{
    color: blue;
}
.search{
    display: flex;
}

#search1{  
    position: absolute; 
    width: 734px;
    height: 50px;
    left: 297px;
    top: 55px;
    border : 2px solid;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 8px;
}
.botton_recherche{
    display: flex;
}
#imagebr{
    position:relative;
    width: 56px;
    height: 48px;
    left: 284px;
    top: 48px;
}
#iconbr{
    position:absolute;
    width: 37.5px;
    height: 36.5px;
    left: 1038px;
    top: 60px;
}
.buttons{
    display: flex ;
    text-align: center;
}
.button1{
    display: flex;
}
#imgbutton1{
    position: relative;
    width: 56px;
    height: 48px;
    left: -50px;
    top: 48px;
}
#iconbutton1{
    position: absolute;
}
.title_button1{
    position: absolute;
}










/* .header{
    display: flex;
    justify-content: space-between;
background-color: red;
}
.search{
display: flex;
}
.botton_recherche{
    display: flex;
    position: relative;
}
.icon_br{
    position: absolute;
    left: 2.5rem;
    top: 1rem;
}
.buttons{
    display: flex;
}
.button1{
    text-align: center;
}
.icon_button1{
}
.logo{
    display: flex;
}
.logo_image{
    position: relative;
}
.logo_title{
    position: absolute;
    color: white;
}
spane{
    color: blue;
} */
/* .logo_image{
    position: absolute;
    width: 70px;
    height: 50px;
    left: 54px;
    top: 48px;
}
#logo{
    width: 5px;
}
.logo_title{
    position: absolute;
    width: 130px;
    height: 48px;
    left: 60px;
    top: 45px;
}
#search1{
    position: absolute;
    width: 734px;
    height: 50px;
    left: 297px;
    top: 37px;
    border : 2px solid;
    border-radius: 8px;
    padding: 5px;
}
.image_br{
    position:absolute;
    width: 54px;
    height: 48px;
    left: 1031px;
    top: 38px;
}
.icon_br{
    position:absolute;
    width: 37.5px;
    height: 36.5px;
    left: 1040px;
    top: 44px;
}
.image_button1{
    position:absolute;
    width: 70px;
    height: 50px;
    left: 1105px;
    top: 37px;
}
.icon_button1{
    position:absolute;
    width: 36px;
    height: 36px;
    left: 1122px;
    top: 44px;
}
.title_button1{
    position:absolute;
    width: 42px;
    height: 16px;
    left: 1119px;
    top: 91px;
}
.image_button2{
    position:absolute;
    width: 70px;
    height: 50px;
    left: 1195px;
    top: 37px;
}
.icon_button2{
    position:absolute;
    width: 36px;
    height: 36px;
    left: 1212px;
    top: 44px;
}
.title_button2{
    position:absolute;
    width: 42px;
    height: 16px;
    left: 1210px;
    top: 91px;
}
.image_button3{
    position:absolute;
    width: 70px;
    height: 50px;
    left: 1285px;
    top: 37px;
}
.icon_button3{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 1293px;
    top: 44px;
}
.title_button3{
    position: absolute;
    width: 42px;
    height: 16px;
    left: 1307px;
    top: 91px;
}
 */
