body{
    background-color: red;
}
.header{
    background-color: white;
}
.logo{
    background-color: aqua
}
.barre_recherche{
    height: 100px;
    width:  500px;
    background-color: blueviolet;
}
.botton_recherche{
    background-color: green

}
.button1{
    background-color: yellow

}
.button1{
    height: 78px;
    width:  500px;
    background-color: black;
}
#search1{
    width: 20rem;
    height: 3rem;
    
}

